.button {
    -fx-padding: 5 22 5 22;   
    -fx-border-color: #FFFFFF;
    -fx-border-width: 2;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-background-color: #481862;
    -fx-text-fill: #FFFFFF;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #7424A9;
}